.app-wrapper {
    display: grid;

    grid-template-areas:
     'h h'
     'n c';

    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
}

.app-wrapper-content {
    grid-area: c;
    background-color: #f2f3f4;
    margin: 5px 0px 0px 5px;
}




